{
  "extends": [
    "react-app",
    "react-app/jest"
  ],
  "rules": {
    "no-unused-vars": "error",
    "prefer-const": "error",
    "indent": ["warn", 2],
    "no-console": "error",
    "quotes": ["warn", "single"],
    "semi": ["warn", "never"],
    "import/order": ["error", {
      "groups": ["builtin", "external", "internal", "parent", "sibling", "index", "object", "type"],
      "newlines-between": "always-and-inside-groups"
    }]
  }
}