@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&display=swap');
@import 'variables';

@import 'App';
@import 'Header';
@import 'loader';
@import 'NewsPost';
@import 'NewsContainer';
* {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
}

